# Enable the rewrite engine
RewriteEngine On

# OPTIONAL: Force HTTPS (uncomment the following lines if you want to enforce HTTPS)
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Set the default index file to index.html
DirectoryIndex index.html

# Redirect requests for the root URL to /index.html
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /index.html [L,R=301]

# Deny access to sensitive files
<FilesMatch "\.(htaccess|htpasswd|ini|log|conf)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Prevent directory listing
Options -Indexes
